In [1]:
import pandas as pd

In [6]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
bikes_df = pd.read_csv("201908-citibike-tripdata")
bikes_df.head()

  tripduration\tstarttime\tstoptime\tstart station id\tstart station name\tstart station latitude\tstart station longitude\tend station id\tend station name\tend station latitude\tend station longitude\tbikeid\tusertype\tbirth year\tgender
0  393\t00:01.5\t06:35.4\t531\tForsyth St & Broom...
1  627\t00:01.9\t10:29.8\t274\tLafayette Ave & Fo...
2  1132\t00:04.0\t18:56.2\t2000\tFront St & Washi...
3  1780\t00:04.2\t29:44.8\t479\t9 Ave & W 45 St\t...
4  1517\t00:05.5\t25:23.5\t3312\t1 Ave & E 94 St\...

In [7]:
# 2. Check the datatypes of your columns. 
bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                           Non-Null Count    Dtype
---  ------                                                                                                                                                                                                                           --------------    -----
 0   tripduration	starttime	stoptime	start station id	start station name	start station latitude	start station longitude	end station id	end station name	end station latitude	end station longitude	bikeid	usertype	birth year	gender  1048575 non-null  object
dtypes: object(1)
memory usage: 8.0+ MB

In [8]:
# 3. Convert the 'tripduration' column to datetime datatype.
bikes_df["tripduration dt"] = pd.to_datetime(bikes_df["tripduration"],unit='s')
bikes_df["tripduration dt"]

KeyError: 'tripduration'

In [9]:
# 4. Check the datatypes of your columns. 
bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                           Non-Null Count    Dtype
---  ------                                                                                                                                                                                                                           --------------    -----
 0   tripduration	starttime	stoptime	start station id	start station name	start station latitude	start station longitude	end station id	end station name	end station latitude	end station longitude	bikeid	usertype	birth year	gender  1048575 non-null  object
dtypes: object(1)
memory usage: 8.0+ MB

In [10]:
# 5. Export the Dataframe as a new CSV file without the index.
bikes_df.to_csv("CitiBikes.csv",index=False)